  <!-- ======= Header ======= -->
  <header id="header" class="header-tops">
    <div class="container">

      <h1 class="ombra"><a href="index.html">NBA PASSION</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2 class="ombra">"Devi essere al limite.Devi fare ogni allenamento,ogni partita<span>,come se fosse l'ultima"</span>(Kobe Bryant)</h2>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="onepage#about">Kobe Bryant</a></li>
          <li><a href="#resume">Eventi Kobe Bryant</a></li>
          <li><a href="#Mike">Michael Jordan</a></li>
          <li><a href="#MikeEvents">Eventi Micheal Jordan</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contatti</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <div class="social-links">
        <a href="https://twitter.com/kobebryant" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="https://www.facebook.com/Kobe" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="https://www.instagram.com/kobebryant/?hl=it" class="instagram"><i class="icofont-instagram"></i></a>
      </div>

    </div>
  </header><!-- End Header -->