  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>Biografia</h2>
        <p>Bio di Bryant</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Kobe Bryant</h3>
          <p class="font-italic">
            Kobe è stato una leggenda dei Los Angeles Lakers , squadra che non ha mai abbandonato , con la quale 
            ha battuto innumerevoli record.
            Per sempre ricordato come uno dei migliori giocatori e marcatori della storia dell'Nba.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Anno di Nascita:</strong> 23 Agosto 1978 </li>
                <li><i class="icofont-rounded-right"></i> <strong>Data del Decesso:</strong> 26 Gennaio 2020 </li>
                <li><i class="icofont-rounded-right"></i> <strong>Citta di Nascita:</strong> Philadelphia</li>               
                <li><i class="icofont-rounded-right"></i> <strong>Nazionalità:</strong> USA</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 42</li>
                <li><i class="icofont-rounded-right"></i> <strong>Ruolo:</strong> Guardia</li>
                <li><i class="icofont-rounded-right"></i> <strong>Data di Ritiro dal Basket:</strong> 13 Aprile 2016</li>
                <li><i class="icofont-rounded-right"></i> <strong>Altezza:</strong> 1,98 m</li>
              </ul>
            </div>
          </div>
          <p>
            L'idolo di praticamente tutti gli appassionati di basket , nasce a Philadephia(Usa) , per poi trasferirsi in Emilia Romagna ,
            dove suo padre Joe Bryant anche lui giocatore di basket giocava quando Kobe aveva soli 8 anni.
            Inizia a giocare a basket in Italia per poi ritornare in America dove frequenta la Lower Marion High School, decide in seguito di non
            continuare gli studi, per intraprendere subito la carriera da giocatore professionista, viene scelto al Draft prima dagli 
            Charlotte Hornets che lo scambieranno subito con i Los Angeles Lakers , squadra con la quale vincerà 5 titoli Nba,
            in questi anni gioca insieme con gente del calibro di Shaquille O'Neal, con il quale formerà uno dei "Duo", più
            devastanti della storia Nba.
            Nel 2016 annuncia il suo ritiro dal basket , nel 2018 vince il Premio Oscar per il Miglior Cortometraggio D'Animazione.
            Kobe oltre ad essere un grande giocatore di basket era anche un fantastico padre di 4 figlie e marito di Vanessa Bryant,
            Nel Gennaio 2020 è vittima insieme a sua figlia Gianna di un tragico incidente con il suo elicottero.
            Tutti amavano Kobe per la sua grande forza ed il suo talento.
            The Black Mamba sarà per sempre nei cuori di chi lo ammirava.

          </p>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div class="counts container">
      <div class="section-title">
        <h2>STATISTICHE</h2>
      </div>
      <div class="row">


        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="bx bxl-dribbble"></i>
            <span data-toggle="counter-up">5</span>
            <p>Titoli Nba Vinti</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bx bxl-dribbble"></i>
            <span data-toggle="counter-up">6306</span>
            <p>Assist Totali Carriera</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bx bxl-dribbble"></i>
            <span data-toggle="counter-up">33643</span>
            <p>Punti Totali Carriera</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bx bxl-dribbble"></i>
            <span data-toggle="counter-up">7047</span>
            <p>Rimbalzi Totali Carriera</p>
          </div>
        </div>

      </div>

    </div><!-- End Counts -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Percentuali di Tiro e Minutaggio in Carriera</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Tiri Liberi <i class="val">83%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Tiro da Tre <i class="val">32,9%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Tiro <i class="val">44%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Minuti a Partita <i class="val">36,1%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Skills -->


    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

      <div class="section-title">
        <h2>Testimonials</h2>
      </div>

      <div class="owl-carousel testimonials-carousel">

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Ogni volta che ho una call su Zoom, credo di aver sempre fatto il suo nome. Mi chiedono sempre: ‘Che anno è stato per te?’ e quindi commento la vittoria dei Lakers, ma aggiungo che hanno vinto anche e soprattutto per Kobe. Poi, quando arriva la parte di Q&A so già che ci sarà sempre una domanda su Kobe. Credo di aver fatto 45 Zoom Call e che per 45 volte abbiamo parlato anche di Kobe. La sua legacy sarà sempre qui, il suo spirito sarà qui con noi, la gente parlerà sempre di lui perché, ancora una volta, verrà ricordato non solo per il giocatore che era, ma per l’uomo, per quello che significava per la sua famiglia, per gli sport femminili, per coloro che sono senza casa, per coloro che stavano lottando con qualcosa. Capitava che ricevevano una sua chiamata con lui che diceva: “Vai avanti a testa alta, non mollare”. Era semplicemente unico e speciale. Sì, l’ho sempre in mente.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
          <h3>Magic Johnson </h3>
          <h4>Nba Hall of Famer</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            We have no words to express how shocked we are to hear of the tragic passing of one of the greatest sportsmen of all time and Rossonero fan, Kobe Bryant. All our thoughts are with the families of those affected by this tragic accident. You will forever be missed, Kobe
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
          <h3>AC Milan</h3>
          <h4>Twitter</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Continuing to move the game forward @KingJames. Much respect my brother#33644
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
          <h3>Kobe Bryant</h3>
          <h4>L'ultimo tweet di Kobe</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            “Il tempo guarisce tutto? È un detto. Siamo ancora coinvolti psicologicamente per quanto successo. E ci vuole tempo per passare oltre. Ognuno ha il proprio processo di lutto. Una spiegazione su quello che è successo? Cerco sempre di non tornare in quello spazio mentale, perché è qualcosa di troppo buio. Non solo per me, ma per la nostra organizzazione e per tutti coloro che sono ancora coinvolti in questa cosa.”
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
          <h3>Lebron James</h3>
          <h4>Lebron sull'umore della squadra dopo la morte di Kobe</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Kobe per me è stata l’ispirazione che mi ha fatto capire che qualcuno davvero teneva a come giocavo, voleva diventare il miglior giocatore di basket possibile. E quando ho imparato a conoscerlo io ho cercato di diventare il miglior fratello maggiore possibile per lui.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
          <h3>Micheal Jordan</h3>
          <h4>Nba All of Famer</h4>
        </div>

      </div>

    </div><!-- End Testimonials  -->

  </section><!-- End About Section -->