 <!-- ======= About Section ======= -->
 <section id="about" class="about">

  <!-- ======= About Me ======= -->
  <div class="about-me container">

    <div class="section-title">
      <h2>Biografia</h2>
      <p>Bio di Bryant</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="assets/img/me.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Kobe Bryant</h3>
        <p class="font-italic">
          Kobe è stato una leggenda dei Los Angeles Lakers , squadra che non ha mai abbandonato , con la quale 
          ha battuto innumerevoli record.
          Per sempre ricordato come uno dei migliori giocatori e marcatori della storia dell'Nba.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="icofont-rounded-right"></i> <strong>Anno di Nascita:</strong> 23 Agosto 1978 </li>
              <li><i class="icofont-rounded-right"></i> <strong>Data del Decesso:</strong> 26 Gennaio 2020 </li>
              <li><i class="icofont-rounded-right"></i> <strong>Citta di Nascita:</strong> Philadelphia</li>               
              <li><i class="icofont-rounded-right"></i> <strong>Nazionalità:</strong> USA</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 42</li>
              <li><i class="icofont-rounded-right"></i> <strong>Ruolo:</strong> Guardia</li>
              <li><i class="icofont-rounded-right"></i> <strong>Data di Ritiro dal Basket:</strong> 13 Aprile 2016</li>
              <li><i class="icofont-rounded-right"></i> <strong>Altezza:</strong> 1,98 m</li>
            </ul>
          </div>
        </div>
        <p>
          L'idolo di praticamente tutti gli appassionati di basket , nasce a Philadephia(Usa) , per poi trasferirsi in Emilia Romagna ,
          dove suo padre Joe Bryant anche lui giocatore di basket giocava quando Kobe aveva soli 8 anni.
          Inizia a giocare a basket in Italia per poi ritornare in America dove frequenta la Lower Marion High School, decide in seguito di non
          continuare gli studi, per intraprendere subito la carriera da giocatore professionista, viene scelto al Draft prima dagli 
          Charlotte Hornets che lo scambieranno subito con i Los Angeles Lakers , squadra con la quale vincerà 5 titoli Nba,
          in questi anni gioca insieme con gente del calibro di Shaquille O'Neal, con il quale formerà uno dei "Duo", più
          devastanti della storia Nba.
          Nel 2016 annuncia il suo ritiro dal basket , nel 2018 vince il Premio Oscar per il Miglior Cortometraggio D'Animazione.
          Kobe oltre ad essere un grande giocatore di basket era anche un fantastico padre di 4 figlie e marito di Vanessa Bryant,
          Nel Gennaio 2020 è vittima insieme a sua figlia Gianna di un tragico incidente con il suo elicottero.
          Tutti amavano Kobe per la sua grande forza ed il suo talento.
          The Black Mamba sarà per sempre nei cuori di chi lo ammirava.

        </p>
      </div>
    </div>

  </div><!-- End About Me -->

  <!-- ======= Counts ======= -->
  <div class="counts container">
    <div class="section-title">
      <h2>STATISTICHE</h2>
    </div>
    <div class="row">


      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="bx bxl-dribbble"></i>
          <span data-toggle="counter-up">5</span>
          <p>Titoli Nba Vinti</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="bx bxl-dribbble"></i>
          <span data-toggle="counter-up">6306</span>
          <p>Assist Totali Carriera</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="bx bxl-dribbble"></i>
          <span data-toggle="counter-up">33643</span>
          <p>Punti Totali Carriera</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="bx bxl-dribbble"></i>
          <span data-toggle="counter-up">7047</span>
          <p>Rimbalzi Totali Carriera</p>
        </div>
      </div>

    </div>

  </div><!-- End Counts -->

  <!-- ======= Skills  ======= -->
  <div class="skills container">

    <div class="section-title">
      <h2>Percentuali di Tiro e Minutaggio in Carriera</h2>
    </div>

    <div class="row skills-content">

      <div class="col-lg-6">

        <div class="progress">
          <span class="skill">Tiri Liberi <i class="val">83%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Tiro da Tre <i class="val">32,9%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </div>

      <div class="col-lg-6">

        <div class="progress">
          <span class="skill">Tiro <i class="val">44%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Minuti a Partita <i class="val">36,1%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </div>

    </div>

  </div><!-- End Skills -->


  <!-- ======= Testimonials ======= -->
  <div class="testimonials container">

    <div class="section-title">
      <h2>Testimonials</h2>
    </div>

    <div class="owl-carousel testimonials-carousel">

      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          Ogni volta che ho una call su Zoom, credo di aver sempre fatto il suo nome. Mi chiedono sempre: ‘Che anno è stato per te?’ e quindi commento la vittoria dei Lakers, ma aggiungo che hanno vinto anche e soprattutto per Kobe. Poi, quando arriva la parte di Q&A so già che ci sarà sempre una domanda su Kobe. Credo di aver fatto 45 Zoom Call e che per 45 volte abbiamo parlato anche di Kobe. La sua legacy sarà sempre qui, il suo spirito sarà qui con noi, la gente parlerà sempre di lui perché, ancora una volta, verrà ricordato non solo per il giocatore che era, ma per l’uomo, per quello che significava per la sua famiglia, per gli sport femminili, per coloro che sono senza casa, per coloro che stavano lottando con qualcosa. Capitava che ricevevano una sua chiamata con lui che diceva: “Vai avanti a testa alta, non mollare”. Era semplicemente unico e speciale. Sì, l’ho sempre in mente.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
        <h3>Magic Johnson </h3>
        <h4>Nba Hall of Famer</h4>
      </div>

      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          We have no words to express how shocked we are to hear of the tragic passing of one of the greatest sportsmen of all time and Rossonero fan, Kobe Bryant. All our thoughts are with the families of those affected by this tragic accident. You will forever be missed, Kobe
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
        <h3>AC Milan</h3>
        <h4>Twitter</h4>
      </div>

      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          Continuing to move the game forward @KingJames. Much respect my brother#33644
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
        <h3>Kobe Bryant</h3>
        <h4>L'ultimo tweet di Kobe</h4>
      </div>

      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          “Il tempo guarisce tutto? È un detto. Siamo ancora coinvolti psicologicamente per quanto successo. E ci vuole tempo per passare oltre. Ognuno ha il proprio processo di lutto. Una spiegazione su quello che è successo? Cerco sempre di non tornare in quello spazio mentale, perché è qualcosa di troppo buio. Non solo per me, ma per la nostra organizzazione e per tutti coloro che sono ancora coinvolti in questa cosa.”
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
        <h3>Lebron James</h3>
        <h4>Lebron sull'umore della squadra dopo la morte di Kobe</h4>
      </div>

      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          Kobe per me è stata l’ispirazione che mi ha fatto capire che qualcuno davvero teneva a come giocavo, voleva diventare il miglior giocatore di basket possibile. E quando ho imparato a conoscerlo io ho cercato di diventare il miglior fratello maggiore possibile per lui.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
        <h3>Micheal Jordan</h3>
        <h4>Nba All of Famer</h4>
      </div>

    </div>

  </div><!-- End Testimonials  -->

</section><!-- End About Section -->



<!-- ======= About Section ======= -->
<section id="Mike" class="Mike">

<!-- ======= About Me ======= -->
<div class="about-me container">

  <div class="section-title">
    <h2>Biografia</h2>
    <p>Bio di Jordan</p>
  </div>

  <div class="row">
    <div class="col-lg-4" data-aos="fade-right">
      <img src="assets/img/mike.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
      <h3>Michael Jordan</h3>
      <p class="font-italic">
     Jordan è considerato tutt'oggi il Dio del basket, chiunque si ispira a lui e lo ammira,ha giocato i suoi migliori anni di carriera 
     nei Chicago Bulls , ancora oggi è un punto di riferimento per il basket.Con i Bulls ha vinto 6 titoli , ricordato anche per aver giocato 
     con uno dei Big Tree più forti della storia , formando il trio con Scottie Pippen e Dennis Rodman(The Worm).
      </p>
      <div class="row">
        <div class="col-lg-6">
          <ul>
            <li><i class="icofont-rounded-right"></i> <strong>Anno di Nascita:</strong> 17 Febbraio 1963 </li>
            <li><i class="icofont-rounded-right"></i> <strong>Citta di Nascita:</strong> New York</li>               
            <li><i class="icofont-rounded-right"></i> <strong>Nazionalità:</strong> USA</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul>
            <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 58</li>
            <li><i class="icofont-rounded-right"></i> <strong>Ruolo:</strong> Guardia</li>
            <li><i class="icofont-rounded-right"></i> <strong>Data di Ritiro dal Basket:</strong> 16 Aprile 2003</li>
            <li><i class="icofont-rounded-right"></i> <strong>Altezza:</strong> 1,98 m</li>
          </ul>
        </div>
      </div>
      <p>
        Leggenda del basket americano, Michael Jordan nasce a New York il 17 febbraio 1963. Trascorre l’infanzia nel quartiere di Brooklyn, dove i genitori si erano da poco trasferiti. Cresce in una famiglia umile, la madre Doloris era impiegata di banca e il padre James R. Jordan Sr. era un meccanico della centrale elettrica. Come ragazzo è molto introverso, non riesce a socializzare e ha pochi interessi. A scuola non eccelle, apprende velocemente ma si applica poco. Alle medie si fa notare per la particolare propensione allo sport.

        Pratica contemporaneamente il basket e viene subito soprannominato “dunker” per via delle schiacciate spettacolari, il baseball come potente lanciatore e il football nel ruolo di quarterback. In una disciplina però diventa una vera celebrità a scuola e infatti durante l’ultimo anno è tra i migliori giocatori del campionato. Con una borsa di studio viene scelto dalla North Carolina University ed entra a far parte della prima squadra di basket NCAA giocando titolare. L’ultima partita dell’anno è una finale, e con un tiro allo scadere consegna la vittoria alla sua università diventando un idolo.
        
        Il successo sportivo lo travolge e abbandona in anticipo gli studi. Viene scelto come terzo giocatore dai Chicago Bulls e così entra a far parte dell’Nba. Non è un bel momento per la squadra ma al suo arrivo le cose cambiano in meglio e si inizia a vincere. Nel 1983 è nominato “Rookie of the year”, miglior matricola nel massimo campionato, viene convocato all’All Star Game conquistando l’attenzione del mondo dello sport. Tutti aspettano di vedere il suo talento, le sue schiacciate volanti. Un brutto infortunio blocca l’inizio del secondo anno tra i professionisti. Ma lavora sodo e rientra più forte di prima, ai playoff del 1986 è da record con 63 punti a referto contro i Boston Celtics.
        
        Per la massima consacrazione bisogna attendere il terzo campionato. Miglior marcatore in assoluto di sempre, con una media di 37 punti a partita, un idolo indiscusso. Il suo nome viene associato alla parola “Air” per la capacità che ha di volare a canestro senza mai fallire. Non è più solo un giocatore ma un uomo da copertina. Conclude la carriera a causa di un episodio spiacevole, suo padre viene ucciso durante una rapina con un colpo di pistola. Prova poi a darsi al baseball, il suo primo amore, ma non fa per lui e torna nuovamente, sempre per la gioia dei tifosi appassionati di basket di tutto il mondo. Per l’uomo dei record, il ritiro ufficiale arriva nel 2003.

      </p>
    </div>
  </div>

</div><!-- End About Me -->

<!-- ======= Counts ======= -->
<div class="counts container">
  <div class="section-title">
    <h2>STATISTICHE</h2>
  </div>
  <div class="row">


    <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
      <div class="count-box">
        <i class="bx bxl-dribbble"></i>
        <span data-toggle="counter-up">6</span>
        <p>Titoli Nba Vinti</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="count-box">
        <i class="bx bxl-dribbble"></i>
        <span data-toggle="counter-up">5633</span>
        <p>Assist Totali Carriera</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
      <div class="count-box">
        <i class="bx bxl-dribbble"></i>
        <span data-toggle="counter-up">32292</span>
        <p>Punti Totali Carriera</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
      <div class="count-box">
        <i class="bx bxl-dribbble"></i>
        <span data-toggle="counter-up">6672</span>
        <p>Rimbalzi Totali Carriera</p>
      </div>
    </div>

  </div>

</div><!-- End Counts -->

<!-- ======= Skills  ======= -->
<div class="skills container">

  <div class="section-title">
    <h2>Percentuali di Tiro e Minutaggio in Carriera</h2>
  </div>

  <div class="row skills-content">

    <div class="col-lg-6">

      <div class="progress">
        <span class="skill">Tiri Liberi <i class="val">83,50%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="progress">
        <span class="skill">Tiro da Tre <i class="val">32,7%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

    </div>

    <div class="col-lg-6">

      <div class="progress">
        <span class="skill">Tiro <i class="val">49,7%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="progress">
        <span class="skill">Minuti a Partita <i class="val">38,3%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

    </div>

  </div>

</div><!-- End Skills -->


<!-- ======= Testimonials ======= -->
<div class="testimonials container">

  <div class="section-title">
    <h2>Testimonials</h2>
  </div>

  <div class="owl-carousel testimonials-carousel">

    <div class="testimonial-item">
      <p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
       Quello era Dio travestito da Michael Jordan.
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
      </p>
      <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
      <h3>Larry Bird </h3>
      <h4>Nba Hall of Famer</h4>
    </div>

    <div class="testimonial-item">
      <p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        We have no words to express how shocked we are to hear of the tragic passing of one of the greatest sportsmen of all time and Rossonero fan, Kobe Bryant. All our thoughts are with the families of those affected by this tragic accident. You will forever be missed, Kobe
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
      </p>
      <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
      <h3>AC Milan</h3>
      <h4>Twitter</h4>
    </div>

    <div class="testimonial-item">
      <p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        Continuing to move the game forward @KingJames. Much respect my brother#33644
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
      </p>
      <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
      <h3>Kobe Bryant</h3>
      <h4>L'ultimo tweet di Kobe</h4>
    </div>

    <div class="testimonial-item">
      <p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        “Il tempo guarisce tutto? È un detto. Siamo ancora coinvolti psicologicamente per quanto successo. E ci vuole tempo per passare oltre. Ognuno ha il proprio processo di lutto. Una spiegazione su quello che è successo? Cerco sempre di non tornare in quello spazio mentale, perché è qualcosa di troppo buio. Non solo per me, ma per la nostra organizzazione e per tutti coloro che sono ancora coinvolti in questa cosa.”
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
      </p>
      <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
      <h3>Lebron James</h3>
      <h4>Lebron sull'umore della squadra dopo la morte di Kobe</h4>
    </div>

    <div class="testimonial-item">
      <p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        Kobe per me è stata l’ispirazione che mi ha fatto capire che qualcuno davvero teneva a come giocavo, voleva diventare il miglior giocatore di basket possibile. E quando ho imparato a conoscerlo io ho cercato di diventare il miglior fratello maggiore possibile per lui.
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
      </p>
      <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
      <h3>Micheal Jordan</h3>
      <h4>Nba Hall of Famer</h4>
    </div>

  </div>

</div><!-- End Testimonials  -->

</section><!-- End About Section -->






<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Eventi</h2>
      <p>Eventi più importanti nella Carriera di KOBE BRYANT</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="resume-item pb-0">
          <h4>81 PUNTI</h4>
          <h5>22 Gennaio 2006</h5>
          <p><em>Rimane ancora oggi una partita storica quella contro i Toronto Raptors del 2006 , in quella partita Kobe segnava qualsiasi tiro, dimostrando a tutto il mondo della Nba che lui era all'epoca forse il marcatore più inarrestabile che la lega abbia mai visto.</em></p>
          
          <ul>
            <li>81 punti</li>
            <li>Solo Wilt Chamberlain fece di meglio segnando 100 punti nel 1962</li>
            <li>Segna 55 punti solo nel secondo tempo</li>
          </ul>

        </div>

        
        <div class="resume-item">
          <h4>Vittoria dello Slam Dunk Contest</h4>
          <h5>1997</h5>
          <p>Nel suo primo anno da Rookie , dove passa un periodo piuttosto difficile , riesce a vincere lo Slam Dunk Contest.L'atletismo durante i suoi primi anni di Kobe era il suo punto forte.In questa gara riesce a battere atleti a livello di Chris Carr e Michael Finley.</p>
        </div>

        <div class="resume-item">
          <h4>La prima Sfida con Micheal Jordan</h4>
          <h5>17 Dicembre 1996</h5>
          <p>In questa partita Kobe sfida per la prima volta il miglior giocatore della storia Micheal Jordan, la stella dei Chicago Bulls,visto da Kobe come un vero e proprio idolo.Kobe da Micheal Jordan era quasi ossessionato, provava durante allenamenti e partite a replicare gli stessi movimenti di Jordan.Molti considerano Kobe come l'unico giocatore avvicinabile a Michel Jordan.</p>
        </div>
      

      <div class="resume-item">
        <h4>Il passaggio dal numero 8 al 24</h4>
        <h5>2006</h5>
        <p><em>Dopo quella eliminazione, nell’estate del 2006 Kobe decide di cambiare numero di maglia, passando dall’8 che aveva accompagnato la prima metà al 24 della seconda, a testimoniare il suo impegno per rimanere concentrato 24 ore al giorno per migliorare come giocatore e come uomo.</em></p>
      </div>

      <div class="resume-item">
        <h4>Kobe The Mvp</h4>
        <h5>2007-2008</h5>
        <p><em>Con uno come Pau a fianco, i Lakers decollano e Kobe Bryant viene votato - per la prima e unica volta in carriera - come Most Valuable Player della lega per la stagione 2007-08. Dietro di lui finiscono Chris Paul dei New Olreans Hornets e Kevin Garnett, al suo primo anno con i Boston Celtics.</em></p>
      </div>

      <div class="resume-item">
        <h4>Il Quinto Titolo quello più emozionante</h4>
        <h5>2010</h5>
        <p><em>I Lakers incrociano di nuovo le spade con i Boston Celtics dopo aver eliminato Oklahoma City, Utah e Phoenix. Ne esce una serie combattutissima che culminerà nella vittoria che Kobe Bryant ha sempre dichiarato — anche a carriera conclusa — di ritenere la più bella di sempre. Dalle rivalità degli anni ’60 e quelle degli ’80, Lakers-Celtics non è mai una sfida come le altre e Kobe chiude le 7 gare contro Boston con 28.6 punti, 8.6 rimbalzi, 3.9 assist e 2.1 recuperi di media.</em></p>
      </div>

      <div class="resume-item">
        <h4>La fine dell'era Phil Jackson</h4>
        <h5>2011</h5>
        <p><em>L’anno successivo i Lakers provano l’assalto ad un altro threepeat, ma il roster è vecchio e il ginocchio di Kobe non è nelle condizioni necessarie per provarci di nuovo. Come spesso accade, il crollo dell’impero gialloviola è rovinoso: dopo aver faticosamente superato il primo turno contro New Orleans, Bryant e soci vengono spazzati via 4-0 dai Dallas Mavericks poi campioni NBA. A fine anno Phil Jackson, impossibilitato a continuare per un’anca in disordine, deve lasciare la panchina.</em></p>
      </div>
    </div>



      <div class="col-lg-6">


      
        <div class="resume-item">
          <h4>Il primo titolo Nba</h4>
          <h5>2000</h5>
          <p><em>Bryant conquista il primo titolo NBA della sua carriera battendo gli Indiana Pacers in sei partite, mettendo la firma sulla decisiva gara-4. Dopo aver saltato buona parte di gara-2 e tutta gara-3 per una brutta distorsione alla caviglia, Bryant stringe i denti scendendo in campo per la quarta e domina nel supplementare quando Shaq esce di scena per falli, chiudendo a quota 28 punti. Al ritorno a L.A. per gara-6 sono i suoi liberi della staffa a consegnare il primo titolo ai Lakers.</em></p>
        </div>

        <div class="resume-item">
          <h4>Il secondo titolo Nba</h4>
          <h5>2001</h5>
          <p><em>Nella seconda stagione Kobe si ribella per tutta la stagione contro il ruolo di “secondo violino” che invece aveva accettato l’anno precedente, litigando a più riprese tanto con Shaq quanto con Jackson - specialmente a mezzo stampa. Dopo una regular season tumultuosa però la squadra cambia marcia nei playoff: 15 vittorie e una sola sconfitta, in gara-1 di finale contro la Philadelphia di Allen Iverson. Fino al 16-1 degli Warriors negli playoff del 2017 è stata la post-season più dominante di sempre.</em></p>
        </div>

        <div class="resume-item">
          <h4>The Three Peat</h4>
          <h5>2002</h5>
          <p><em>Dopo aver superato i Kings in una delle serie di playoff più controverse della storia della lega (grazie anche al miracoloso canestro di Robert Horry in gara-4), i Lakers completano il three-peat battendo i New Jersey Nets di Jason Kidd in quattro comode partite. Alla fine della quarta Kobe si mise addosso una maglia di Michael Jordan del 1998, sottolineando implicitamente come fosse riuscito a vincere anche lui tre titoli in fila.</em></p>
        </div>

        <div class="resume-item">
          <h4>Shaq e Phil Jackson lasciano i Lakers</h4>
          <h5>2002</h5>
          <p><em>Dopo aver superato i Kings in una delle serie di playoff più controverse della storia della lega (grazie anche al miracoloso canestro di Robert Horry in gara-4), i Lakers completano il three-peat battendo i New Jersey Nets di Jason Kidd in quattro comode partite. Alla fine della quarta Kobe si mise addosso una maglia di Michael Jordan del 1998, sottolineando implicitamente come fosse riuscito a vincere anche lui tre titoli in fila.</em></p>
        </div>

        <div class="resume-item">
          <h4>Il Quarto titolo, quello da Mvp</h4>
          <h5>2008-2009</h5>
          <p><em>La fame di titoli e di vittorie di Kobe non si placa, anzi: nel 2008-09 torna ancora più carico per riprendersi quell’anello sfuggito contro i Celtics. I suoi Lakers vincono 65 partite in regular season e nei playoff si sbarazzano di Utah (4-1), Houston (4-3 soffrendo) e Denver (4-2) presentandosi di nuovo in finale, dove ad attenderli però ci sono gli Orlando Magic invece dei Boston Celtics. La serie è più combattuta del 4-1 finale, ma non c’era alcuna possibilità che Kobe mancasse l’appuntamento con il primo premio di MVP delle Finals della sua carriera.</em></p>
        </div>

        <div class="resume-item">
          <h4>L'ultima partita, quella da 60 PUNTI</h4>
          <h5>2016</h5>
          <p><em>L’addio alla pallacanestro e alla NBA è di quelle da film più che da vita reale: nella sua ultima partita Kobe tira 50 volte e segna 60 punti, in un crescendo rossiniano che porta i suoi Lakers a rimontare e vincere contro gli Utah Jazz e manda in completo visibilio il pubblico dello Staples Center. Dopo la gara, a centrocampo, chiude il suo ultimo saluto lasciando il microfono con le immortali parole: “Mamba Out”.</em></p>
        </div>


      </div>
    </div>

  </div>
</section><!-- End Resume Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h2>Services</h2>
      <p>My Services</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4><a href="">Lorem Ipsum</a></h4>
          <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4><a href="">Sed ut perspiciatis</a></h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a href="">Magni Dolores</a></h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4><a href="">Nemo Enim</a></h4>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-slideshow"></i></div>
          <h4><a href="">Dele cardo</a></h4>
          <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-arch"></i></div>
          <h4><a href="">Divera don</a></h4>
          <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->




<!-- ======= MICHAEL JORDAN ======= -->


<!-- ======= Resume Section ======= -->
<section id="MikeEvents" class="resume">
<div class="container">

  <div class="section-title">
    <h2>Eventi</h2>
    <p>Eventi più importanti nella Carriera di JORDAN</p>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="resume-item pb-0">
        <h4>63 PUNTI</h4>
        <h5>20 Aprile 1986</h5>
        <p><em>La data è quella del 20 aprile 1986, Jordan ha 23 anni ed è alla seconda stagione NBA. Al primo turno di playoff, i Bulls incrociano i fortissimi Boston Celtics, guidati da Larry Bird (che si aggiudicheranno poi il titolo). La gara 2 è parecchio tirata e si finisce al supplementare, addirittura doppio. Jordan segna 63 punti un record che ancora resiste per quanto riguarda i punti in una gara post-season.</em></p>

      </div>

      
      <div class="resume-item">
        <h4>Vittoria dello Slam Dunk Contest</h4>
        <h5>1988</h5>
        <p>Nel 1988, l’All-Star Game si è tenuto nella città di Chicago, a casa di MJ. La gara delle schiacciate di quell’anno, che vedeva sfidarsi proprio Michael Jordan e Dominique Wilkins, degli Atlanta Hawks, si è rivelata una delle più spettacolari della storia (non che quella di quest’anno sia stata da meno). Nella finale, Wilkins inchioda una windmill jam a due mani, portando a casa un 45. Jordan, invece, sceglie di puntare su un suo classico: lo stacco dalla linea del tiro libero. Il risultato? 50 perfetto, e secondo titolo consecutivo.</p>
      </div>

      <div class="resume-item">
        <h4>THE SHOT</h4>
        <h5>Gara 5 Playoff</h5>
        <p>Universalmente conosciuto come The Shot , è il tiro che Jordan prende nei secondi finali di gara 5 dei playoff contro Cleveland. MJ si smarca per ricevere la palla, evita un paio di avversari e salta per tirare in sospensione. Ma il tiro parte soltanto dopo che il suo difensore si è tolto dalla visuale, dando la sensazione che Jordan abbia in qualche modo annullato la forza di gravità.</p>
      </div>
    

    <div class="resume-item">
      <h4>Il tiolo nel giorno del FATHER'S DAY</h4>
      <h5>Giugno 1996</h5>
      <p><em>Di tutti i titoli e i risultati conquistati da Jordan nella sua carriera, questo è probabilmente il più emozionante. Nella sua prima stagione completa dopo la pausa “baseball” (una carriera che suo padre avrebbe preferito e che Jordan intraprese dopo la sua scomparsa), i Bulls vincono 72 partite in stagione, aggiudicandosi poi il loro quarto anello con i Seattle SuperSonics, nel giugno del 1996. Proprio nel giorno del Father’s Day americano.</em></p>
    </div>

    <div class="resume-item">
      <h4>THE CLINCHER</h4>
      <h5>1998</h5>
      <p><em>Uno dei momenti più memorabili della sua incredibile carriera è senza dubbio il suo tiro in gara 6 della serie finale con gli Utah Jazz del 1998. A 5 secondi dalla fine, Jordan si libera di Bryon Russell, uno dei migliori difensori di Utah, e infila i due punti del sorpasso definitivo, regalando ai suoi Bulls il sesto titolo in otto anni. Dopo quella partita, Jordan decise di ritirarsi per la seconda volta. Salvo tornare nel 2001.</em></p>
    </div>

    <div class="resume-item">
      <h4>I'M BACK</h4>
      <h5>18 Marzo 1995</h5>
      <p><em>Jordan si ritira nel 1993, a pochi mesi dalla morte del al padre per andare a giocare nelle leghe minori di baseball per i White Sox. Tutto cambia un sabato quando Jordan manda un fax ai Bulls prima di annunciare il suo ritorno al basket giocato. L’inizio del secondo three-peat per i Bulls.</em></p>
    </div>

    <div class="resume-item">
      <h4>THE 360 LAYUP</h4>
      <h5>2 Giugno 1989</h5>
      <p><em>I Bulls perdono Gara 6 delle finali di Eastern Conference contro i Pistons. Ma la giocata della partita è quella di MJ che ruba un pallone e segna un layup da 360° su Bill Laimbeer. Una delle giocate più iconiche della rivalità Bulls-Pistons.</em></p>
    </div>
  </div>



    <div class="col-lg-6">


    
      <div class="resume-item">
        <h4>TIRO LIBERO AD OCCHI CHIUSI</h4>
        <h5>23 Novembre 1991</h5>
        <p><em>Nei secondi finali della sfida contro i Nuggets, Jordan dedica un libero al rookie di Denver, Dikembe Mutombo, dicendogli “Questo è per te, ragazzo”. Jordan segna un libero ad occhi chiusi nel 107-100 per i Bulls.</em></p>
      </div>

      <div class="resume-item">
        <h4>JORDAN BATTE GEORGETOWN</h4>
        <h5>29 Marzo 1982</h5>
        <p><em>Con 17 secondi da giocare, Michael Jordan segna il canestro che regala a North Carolina la vittoria del titolo NCAA contro Georgetown. Il primo di tanti canestri vincenti che segnano la carriera di MJ.</em></p>
      </div>

      <div class="resume-item">
        <h4>JORDAN TEIEN IL TROFEO</h4>
        <h5>12 Giugno 1991</h5>
        <p><em>Jordan guida i Bulls al titolo del 1991. La serie finisce in cinque partite con la vittoria decisiva per 108-101. Jordan scoppia in lacrime quando prende in mano il Larry O’Brien Trophy per la prima volta. Una immagine sempre presente quando vengono fatti dei montaggi per le NBA Finals.</em></p>
      </div>

      <div class="resume-item">
        <h4>LA PARTITA CON L'INFLUENZA</h4>
        <h5>11 Giugno 1997</h5>
        <p><em>I Bulls sono fuori casa per Gara 5 delle NBA Finals quando Jordan accusa sintomi influenzali per una pizza da asporto portatagli in camera la notte prima del match. Nonostante il malessere, MJ chiude con 38 punti e guida i Bulls ad una vittoria che cambia i destini della serie contro gli Utah Jazz. Nel finale di gara Michael Jordan crolla tra le braccia di Scottie Pippen. L’immagine simbolo di “The Flu Game”.</em></p>
      </div>

      <div class="resume-item">
        <h4>THE SHRUG</h4>
        <h5>3 Giugno 1992</h5>
        <p><em>Jordan domina il primo tempo di Gara 1 delle Finals del 1992. Nei primi 24 minuti segna 35 punti con 6 triple. Dopo la sesta tripla, Jordan guarda lo speaker e scrolla le spalle. Uno dei momenti più indimenticabili delle Finals NBA.</em></p>
      </div>

      <div class="resume-item">
        <h4>A SPECTACULAR MOVE</h4>
        <h5>5 Giugno 1991</h5>
        <p><em>I Bulls pareggiano le Finals del 1991 con una vittoria 107-87 contro i Los Angeles Lakers. E Jordan fa una giocata spettacolare. Salta per andare a canestro con il pallone nella mano destra ed in aria lo cambia per chiudere il layup con la sinistra. Il telecronista Marv Albert la chiama “Oh! A spectacular move by Michael Jordan!”. La reazione di Phil Jackson non ha prezzo.</em></p>
      </div>


    </div>
  </div>

</div>
</section><!-- End Resume Section -->











<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>Portfolio</h2>
      <p>My Works</p>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>App</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App 2</h4>
            <p>App</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Card 2</h4>
            <p>Card</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web 2</h4>
            <p>Web</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App 3</h4>
            <p>App</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Card 1</h4>
            <p>Card</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Card 3</h4>
            <p>Card</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contact</h2>
      <p>Contact Me</p>
    </div>

    <div class="row mt-2">

      <div class="col-md-6 d-flex align-items-stretch">
        <div class="info-box">
          <i class="bx bx-map"></i>
          <h3>My Address</h3>
          <p>A108 Adam Street, New York, NY 535022</p>
        </div>
      </div>

      <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
        <div class="info-box">
          <i class="bx bx-share-alt"></i>
          <h3>Social Profiles</h3>
          <div class="social-links">
            <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
            <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
            <a href="#" class="google-plus"><i class="icofont-skype"></i></a>
            <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-4 d-flex align-items-stretch">
        <div class="info-box">
          <i class="bx bx-envelope"></i>
          <h3>Email Me</h3>
          <p>contact@example.com</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 d-flex align-items-stretch">
        <div class="info-box">
          <i class="bx bx-phone-call"></i>
          <h3>Call Me</h3>
          <p>+1 5589 55488 55</p>
        </div>
      </div>
    </div>

    <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
      <div class="form-row">
        <div class="col-md-6 form-group">
          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
          <div class="validate"></div>
        </div>
        <div class="col-md-6 form-group">
          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
          <div class="validate"></div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
        <div class="validate"></div>
      </div>
      <div class="form-group">
        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
        <div class="validate"></div>
      </div>
      <div class="mb-3">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Your message has been sent. Thank you!</div>
      </div>
      <div class="text-center"><button type="submit">Send Message</button></div>
    </form>

  </div>
</section><!-- End Contact Section -->
